/* stili base del progetto */
body {
    margin: 0;

}


/* stlile header */
header {
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: #4ea0ff;
    padding-top: 40px;;
}
header img {
    width: 300px;
}

/* stili corpo della pagina */

main {
    margin: 5px;
}

section ul {
    padding: 20px;
}

.highlighted span {
    background-color: yellow;
}